* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(190, 190, 190);
}

input {
  display: block;
}

form {
  background-color: rgb(194, 237, 255);
  width: 500px;
  height: 400px;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input {
  border-radius: 8px;
  border-color: #fff;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

button {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border-color: #fff;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  border-color: skyblue;
}

h2 {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}